<div class="container mt-4">
    <!-- Header with Logo and Search Bar -->
    <mat-toolbar color="primary">
      <div class="logo-container">
        <img src="https://png.pngtree.com/png-clipart/20190611/original/pngtree-wolf-logo-png-image_2306634.jpg" alt="Logo" class="logo">
      </div>
      <span class="spacer"></span> <!-- Spacing between logo and search bar -->
    </mat-toolbar>
  
    <!-- Data Table -->
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-header bg-primary text-white">
             <mat-form-field appearance="outline" class="search-bar">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search by keyword" />
                <button mat-icon-button matSuffix (click)="clearSearch()" *ngIf="dataSource.filter">
                  <mat-icon class="btn btn-danger">close</mat-icon>
                </button>
              </mat-form-field>
          </div>
          <div class="card-body p-0">
            <table mat-table [dataSource]="dataSource" matSort class="mat-table table">
              
  
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
              </ng-container>
  
              <!-- First Name Column -->
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
              </ng-container>
  
              <!-- Last Name Column -->
              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.lastName }} </td>
              </ng-container>
  
              <!-- Age Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                <td mat-cell *matCellDef="let element"> {{ element.age }} </td>
              </ng-container>
  
              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
              </ng-container>
  
              <!-- Contact Number Column -->
              <ng-container matColumnDef="contactNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </th>
                <td mat-cell *matCellDef="let element"> {{ element.contactNumber }} </td>
              </ng-container>
  
              <!-- Address Column -->
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
              </ng-container>
  
              <!-- DOB Column -->
              <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
                <td mat-cell *matCellDef="let element"> {{ element.dob }} </td>
              </ng-container>
  
              <!-- Salary Column -->
              <ng-container matColumnDef="salary">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
                <td mat-cell *matCellDef="let element"> {{ element.salary }} </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div class="card-footer">
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  